<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Framework">

<listeners>
	<listener class-name="Listeners.CustomListeners"></listener>
</listeners>
  <test thread-count="5" name="Login Test">
  
    <classes>
      <class name="TestCases.ios.LoginTest"/> 
    <!--    <class name="TestCases.ios.ForgotPasswordTest"/> -->
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
